{
  "root": true,
  "env": {
    "es6": true,
    "jest": true
  },
  "globals": {
    "parseSource": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "tsconfigRootDir": "./",
    "sourceType": "module",
    "project": "./tsconfig.eslint.json"
  },
  "plugins": [
    "jest",
    "import",
    "prettier",
    "jest-formatting",
    "simple-import-sort",
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/typescript",
    "plugin:jest-formatting/strict",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended" // KEEP THIS LAST
  ],
  "rules": {
    "sort-imports": "off",
    "@typescript-eslint/consistent-type-imports": [
      "error",
      {
        "prefer": "type-imports"
      }
    ],
    "import/no-extraneous-dependencies": "off",
    "newline-per-chained-call": [
      "error",
      {
        "ignoreChainWithDepth": 3
      }
    ],
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          [
            "^\\u0000"
          ],
          [
            "^node:"
          ],
          [
            "^@?\\w"
          ],
          [
            "^"
          ],
          [
            "^\\."
          ],
          [
            "^node:.*\\u0000$",
            "^@?\\w.*\\u0000$",
            "^[^.].*\\u0000$",
            "^\\..*\\u0000$"
          ]
        ]
      }
    ],
    "simple-import-sort/exports": "error",
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "import/no-unresolved": "off"
  }
}